div{width:300px;
    height:310px;
	/*text-align:left;*/
	/*text-align:right;*/
	/*text-align:center;*/
	text-align:justify;
	border:3px solid blue;
	padding:8px;
	background-color:#F6F270;
	color:red;
	/*font-family:arial;
	font-size:15px;*/
	text-indent:50px;
	line-height:1.1;
	word-spacing:3px;
	border-top-color:red;
	border-top-width:5px;
	border-bottom-style:dashed;
	border-left-width:0px;
	border-right-width:0px;
	
	
	}
	h1{color:blue;}